body {
    background: url("https://png.pngtree.com/thumb_back/fw800/20160922/pngtree-Field-Meadow-Rural-Grass-background-photo-706377.jpg");
    background-size: cover;
    background-repeat: no-repeat, repeat;
}
.capAmerica {
 width: 300px;   
 position: absolute;
 left: 400px;
 top: 300px;
}
h1 {
 text-align: center;   
}
.spiderboii {
    transform: rotate(180deg);
    width: 200px;
    position: absolute;
    top: 0px;
    left: 1000px;
}
.house {
    width: 1100px;
    position: absolute;
    top: 200px;
    left: 100px;
}
.taxguy {
    position: absolute;
 z-index: 1000;    
 width: 300px;
 bottom: 0px;
 right: 0px;
}